<li>
	{{name}}

	<button class="change-sleep" data-id="{{id}}" data-newsleep="{{sleep}}">
		<!--{{sleep}}-->EAT IT!
	</button>

	<!--<button class="delete-cat" data-id="{{this.id}}">DELETE!</button> -->
</li>
