<li>
	{{name}}
	{{#if eaten}}
	<button class="change-sleep" data-id="{{id}}" data-newsleep="{{eaten}}">
		<!--{{eaten}}-->EAT IT!
	</button>
	{{/if}}

	<!--<button class="delete-cat" data-id="{{this.id}}">DELETE!</button> -->
</li>
